exports.config = {
    port: 8086,

    use_http_proxy: false,
    http_proxy_host: "some_proxy",
    use_proxy_for_local_addresses: false,
    http_proxy_port: 8080,

    redirect_404_to: "https://somesite.org",

    ssl: false,
    ssl_port: 8089,
    ssl_key: "mykey.key",
    ssl_cert: "mykey.cert",

    streams: [
	{
	    name: "Test Pull Video Source",
	    enabled: false,
	    type: "mmsh_pull",
	    source_options: {host:"127.0.0.1", port: "7070", path: "/"},
	    path: "pulled_video"
	},
	{
	    name: "Test Push Video Source",
	    enabled: true,
	    type: "mmsh_push",
	    path: "pushed_video"
	}
    ]
};
