// This is the list of pumps.  It will eventually be replaced with a database to enable more advanced features,
// but a JSON flat-file works for now.

[
{
    "id": 0,
    "title":"Ottawa",
    "key":"blargleflarghn",
    "networks": ["10.1.3.0/24","10.1.4.0/24"]
},
{
    "id": 1,
    "title": "Gatineau",
    "key":"fnaglewhatsits",
    "networks": ["10.18.32.0/24", "10.19.0.0/16"]
}
]
