[
{
    "id": 0,
    "title":"Ottawa",
    "key":"blargleflarghn",
    "networks": [
	{"cidr":"10.1.3.0/24", "priority":0},
	{"cidr":"10.1.4.0/24", "priority":4}
    ]
},
{
    "id": 1,
    "title": "Gatineau",
    "parent_id": 0,
    "key":"fnaglewhatsits",
    "networks": [
	{"cidr":"10.18.32.0/24", "priority":0},
	{"cidr":"10.19.0.0/16", "priority":0}
    ]
}
]
